# Godot 4+ specific ignores
.godot/
/android/

# Project exports
exports/

# Python packed archive
python-packed.tar.gz

# Pycache
__pycache__

# Log files
*.log

# Documentation build file
docs/_build/*

# Schema parsers output
python-binding/tools/schema-to-text/result.*
